@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

/* ::selection {
  background-color: #f3e8ff;
  color: #000;
}
 */
